<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Software Engineer at
      <a class="underline-link" href="https://edgeandnode.com" target="_blank">Edge & Node</a> building Web3 technologies on top of
      <a class="underline-link" href="https://thegraph.com" target="_blank">The Graph</a>. I'm also pursuing a B.Sc. in Computer Science at the
      <strong>University of Pisa</strong> and I'm the core contributor of
      <a class="underline-link" href="https://ferrumfix.org"
      target="_blank">FerrumFIX</a>, a project that aims to bring first-class
      support for FIX tooling to Rust.
    </p>

    <p>
      I have a great passion for performance and human-computer interaction,
      which converge in my interest for compiler technologies. I enjoy
      building foundational solutions, open systems, and developer tools that
      reduce the amount of friction when interfacing with software.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, you'll
      probably find me somewhere cycling, visiting someplace new with my
      partner, or reading sci-fi books.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
