<section class="section talks">
  <div class="section__title">Talks</div>
  <div class="section__content">
    <div class="talk">
      <div class="project__name">
        <a href="https://gdg.community.dev/events/details/google-gdg-pisa-presents-the-og-dal-whitepaper-del-bitcoin-ai-giorni-nostri/"
          target="_blank" class="arrow-link">The OG: dal Whitepaper del $BTC ai giorni nostri</a>
      </div>
      <p>
        A Google Developer Groups presentation about the fundamentals of blockchains and the history of Bitcoin.
        Slides <a
          href="https://www.canva.com/design/DAFZKgFGF_4/W01BirTUKlx000XTCqETew/view?utm_content=DAFZKgFGF_4&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"
          target="_blank">here</a>.
        <br>
        Italian language, February 2023.
      </p>
    </div>
    <div class="talk">
      <div class="project__name">
        <a href="https://www.linkedin.com/posts/pisa-dev_cosmos-ethereum-ipfs-activity-6996435162360102912-eoxc?utm_source=share&utm_medium=member_desktop"
          target="_blank" class="arrow-link">Intro a IPFS: Interplanetary File System</a>
      </div>
      <p>
        A beginner-friendly introduction to IPFS for <a class="underline-link" href="https://pisa.dev"
          target="_blank">pisa.dev</a>, how it works and
        what one can build with it.
        Slides <a href="https://slides.com/filippoc/intro-ipfs" target="_blank">here</a>.
        <br>
        Italian
        language, December 2022.
      </p>
    </div>
    <div class="talk">
      <div class="project__name">
        <a href="https://open.spotify.com/episode/4wQ9SARxzw4ukqF3bzO24P?si=3fe9d2e52c0d45f6" target="_blank"
          class="arrow-link">Granchi informatici con Filippo Costa</a>
      </div>
      <p>
        I was invited to <a class="underline-link" href="https://pointerpodcast.it" target="_blank">Pointer Podcast</a>
        to chat about cryptocurrencies, Rust, and concurrency.<br> Italian language, September 2021.
      </p>
    </div>
    <div class="talk">
      <div class="project__name">
        <a href="https://www.youtube.com/watch?v=PyV_lhC0BQU" target="_blank" class="arrow-link">Rust APIs for
          Performance & Type Safety: a case study</a>
      </div>
      <p>
        My <a class="underline-link" href="https://rustlab.it" target="_blank">RustLab 2022</a> talk. Abstract:
        <br>
        <i> What Rust patterns are most effective when designing useful abstractions
          with little to no overhead? In this case study, we'll be looking at the
          Financial Information eXchange protocol and how to build a crate with a
          large API surface without sacrificing performance.
        </i>
        <br>
        Slides <a href="https://slides.com/filippoc/rustlab2022" target="_blank">here</a>.<br>English language, October
        2022.
      </p>
    </div>
  </div>
</section>
