<section class="section talks">
  <div class="section__title">Talks</div>
  <div class="section__content">
    <div class="talk">
      <div class="project__name">
        <a href="https://open.spotify.com/episode/4wQ9SARxzw4ukqF3bzO24P?si=3fe9d2e52c0d45f6" target="_blank" class="arrow-link">Granchi informatici con Filippo Costa</a>
      </div>
      <p>
        I was invited to <a class="underline-link" href="https://pointerpodcast.it" target="_blank">Pointer Podcast</a>
        to chat about cryptocurrencies, Rust, and concurrency. Italian language.
      </p>
    </div>
  </div>
</section>
