<section class="section talks">
  <div class="section__title">Talks</div>
  <div class="section__content">
    <div class="talk">
      <div class="project__name">
        <a>Intro a IPFS: Interplanetary File System</a>
      </div>
      <p>
        An IPFS demo I did for <a class="underline-link" href="https://pisa.dev" target="_blank">pisa.dev</a>. Italian
        language.
      </p>
    </div>
    <div class="talk">
      <div class="project__name">
        <a href="https://open.spotify.com/episode/4wQ9SARxzw4ukqF3bzO24P?si=3fe9d2e52c0d45f6" target="_blank"
          class="arrow-link">Granchi informatici con Filippo Costa</a>
      </div>
      <p>
        I was invited to <a class="underline-link" href="https://pointerpodcast.it" target="_blank">Pointer Podcast</a>
        to chat about cryptocurrencies, Rust, and concurrency. Italian language.
      </p>
    </div>
    <div class="talk">
      <div class="project__name">
        <a>Rust APIs for Performance & Type Safety: a case study</a>
      </div>
      <p>
        My <a class="underline-link" href="https://rustlab.it" target="_blank">RustLab 2022</a> talk. Abstract:
        <br>
        <i> What Rust patterns are most effective when designing useful abstractions
          with little to no overhead? In this case study, we'll be looking at the
          Financial Information eXchange protocol and how to build a crate with a
          large API surface without sacrificing performance.
        </i>
      </p>
    </div>
  </div>
</section>
